version: '3.8'

volumes:
  node-ipc:
  node-db:

services:
  cardano-node:
    image: ghcr.io/intersectmbo/cardano-node:${CARDANO_NODE_VERSION:-10.5.1}
    environment:
      NETWORK: ${NETWORK:-preprod}
    volumes:
      - node-db:/data/db
      - node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "2M"
        max-file: "10"
  # hydra-node:
  #   image: ghcr.io/cardano-scaling/hydra-node:0.22.0
  #   command: [] #  appropriate command accordint to your cluster configuration
  #   volumes:
  #     - node-ipc:/ipc

  kuber-hydra:
    image: dquadrant/kuber-hydra:latest
    ports:
      - "8081:8081"
    environment:
      HYDRA_URL: "hydra-node:5001"
      CARDANO_NODE_SOCKET_PATH: "/ipc/node.socket"
      NETWORK: ${NETWORK:-preprod}
    volumes:
      - node-ipc:/ipc
    depends_on:
      - cardano-node
      - hydra-node
    logging:
      driver: "json-file"
      options:
        max-size: "2M"
        max-file: "10"
  
  hydra-node-alice:
    image: ghcr.io/cardano-scaling/hydra-node:${HYDRA_VERSION:-1.2.0}
    container_name: hydra-node-alice
    platform: linux/amd64
    ports:
      - "4101:4101"
    volumes:
      - ./hydra-nodes/alice:/hydra
      - /home/arpit/.cardano/preprod/node.socket:/node.socket:ro
    environment:
      - CARDANO_NODE_SOCKET_PATH="/ipc/node.socket"
      - NETWORK=1
    command:
      [
        "hydra-node", "run",
        "--api-host", "0.0.0.0",
        "--port", "4101",
        "--node-socket", "ipc/node.socket",
        "--keys", "/hydra/keys",
        "--persistence", "/hydra/persistence"
      ]
    networks:
      - hydra_net
    restart: unless-stopped

  hydra-node-bob:
    image: ghcr.io/cardano-scaling/hydra-node:${HYDRA_VERSION:-1.2.0}
    container_name: hydra-node-bob
    platform: linux/amd64
    ports:
      - "4102:4102"
    volumes:
      - ./hydra-nodes/bob:/hydra
      - /home/arpit/.cardano/preprod/node.socket:/node.socket:ro
    environment:
      - CARDANO_NODE_SOCKET_PATH=/node.socket
      - NETWORK=1
    command:
      [
        "hydra-node", "run",
        "--api-host", "0.0.0.0",
        "--port", "4102",
        "--node-socket", "/node.socket",
        "--keys", "/hydra/keys",
        "--persistence", "/hydra/persistence"
      ]
    networks:
      - hydra_net
    restart: unless-stopped

  hydra-node-carol:
    image: ghcr.io/cardano-scaling/hydra-node:${HYDRA_VERSION:-1.2.0}
    container_name: hydra-node-carol
    platform: linux/amd64
    ports:
      - "4103:4103"
    volumes:
      - ./hydra-nodes/carol:/hydra
      - /home/arpit/.cardano/preprod/node.socket:/node.socket:ro
    environment:
      - CARDANO_NODE_SOCKET_PATH=/node.socket
      - NETWORK=1
    command:
      [
        "hydra-node", "run",
        "--api-host", "0.0.0.0",
        "--port", "4103",
        "--node-socket", "/node.socket",
        "--keys", "/hydra/keys",
        "--persistence", "/hydra/persistence"
      ]
    networks:
      - hydra_net
    restart: unless-stopped

networks:
  hydra_net:
    driver: bridge