/dist-newstyle
.idea
/.cluster
# vscode related
.vscode
.history
.env
/adaup
/kuber-client-js
/kuber-client
/kuber-hydra/devnet/runtime
/kuber-hydra/devnet/credentials
/kuber-hydra/devnet/env
/kuber-hydra/devnet/env.bak