version: "3.9"
volumes:
  node-pic:
  node-db:
services:
  cardano-node:
    image: inputoutput/cardano-node:${CARDANO_NODE_VERSION:-9.1.1}
    environment:
      NETWORK: ${NETWORK:-preprod}
    volumes:
      - node-db:/data/db
      - node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "2M"
        max-file: "10"
  kuber:
    image: dquadrant/kuber:${KUBER_VERSION:-3.1.0}
    environment:
      NETWORK: ${NETWORK:- preprod}
    volumes:
      - node-ipc:/root/.cardano/preprod/
#      -node-ipc:/root/.cardano/mainnet/ for NETWORK=mainnet   or set CARDANO_NODE_SOCKET_PATH explicitly
#      -node-ipc:/root/.cardano/preview/ for NETWORK=preview   or set CARDANO_NODE_SOCKET_PATH explicitly
#      -node-ipc:/root/.cardano/sancho/ for NETWORK=sancho   or set CARDANO_NODE_SOCKET_PATH explicitly

    ports:
      - 8081:8081
    logging:
      driver: "json-file"
      options:
        max-size: "2M"
        max-file: "10"


